<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
        </li>
        <li>
            <NavLink href="/konvertera" Match="NavLinkMatch.All">Konvertera</NavLink>
        </li>
        <li>
            <NavLink href="/om" Match="NavLinkMatch.All">Om</NavLink>
        </li>
    </ul>
</nav>
